#contenedor{
display: flex;
justify-content: center;

border-radius: 8px;
width: 1200px;
margin: 0px auto;
}
#nombre1{
    text-align: center;
    font-family: 'Handlee', cursive;
}

.contenedores{
    margin-top: px;
    margin: 40px;
    font-family: 'Handlee', cursive;
    width: 350px;
  
}

.formulario1{
    background-color: paleturquoise;
    border-radius: 8px;
    padding: 20px;
    
  
}
.formulario1 h1{
    text-align: center;
}

.formulario1 label{
    width:150px;
    display:inline-block;
}

.formulario2{
    background-color: rgb(255, 255, 144);
    border-radius: 10px;
    padding: 20px;
    height: 280px;;
    
}
.formulario2 h1{
    text-align: center;
}
.formulario2 label{
    width:100px;
 
    display:inline-block;
}


table{
    width: 200px;
    margin: 0px auto; 
    margin-top: 20px;
    text-align: center;  
    border-collapse: collapse;
   
   
}

table th{
    border: 1px solid salmon;
    padding: 0.5rem;
    text-align: center;
    
      
}

.button{
        border-color: navajowhite;
        border-radius: 10px;
        font-family: 'Handlee', cursive;
        color: rgb(0, 0, 0);
        font-size: 15px;
        padding: 10px;
        background-image: linear-gradient(to bottom, navajowhite, paleturquoise);
        margin-left: 100px;
}


#foto{
    height: 450px;
    border-radius: 8px;
    display:block;
    margin: 0px auto;
}

#foto:hover {filter: blur(5px);}

#listado{
    font-family: 'Handlee', cursive;
      text-align: center;
      line-height:100px;
  }


  #listado a{
      margin: 20px;
      display:inline-block; /*NPI*/
      color:rgb(0, 146, 190);
      text-decoration:none;
      padding:15px 15px;
      line-height:normal;
      font-size:20px;
      -webkit-transition:all 100ms ease;
      -o-transition:all 500ms ease;
      transition:all 500ms ease;
    }
    #listado a:hover{
      background-color:salmon;
      color: #ffffff;
      border-radius:20px;
    }