<app-header></app-header>
<div id="informacion">
    
    <p>
        Mi nombre: Abril Hernández Hernández <br>
        Edad: 22 años <br> 
        Escuela: Escuela Superior de Ingenieria Mecánica y Electrica IPN <br>
        Carrera: Ingeniería en Computación
        Hobby: Ver peliculas y Series <br>  
        Email: abril.hernandez@gmail.com <br>
        Telefono: 55-45-48-95-31 <br> 
        Lugar actual de residencia: Ciudad de México <br>
        
     </p>
</div> 

<div><app-footer></app-footer> </div> <!--JALAR LO DE FOOTER-->


