#nombre{
font-size: 40px;
text-align:center;
font-family: 'Handlee', cursive;
}

#foto{
    height: 450px;
    border-radius: 8px;
    display:block;
    float: left;
    margin-left: 100px;
}

#foto:hover {filter: blur(5px);}
    


#informacion{
    
   text-align: center;
   margin: 135px;
    color: rgb(0, 0, 0);
    font-size: 22px;   
    font-family: 'Cormorant', serif;
    line-height: 150%;
    
}

#informacion p{
    border-radius: 5px;
}

#fecha h3{
    text-align: left;
    font-size: 15px;  
    font-family: 'Handlee', cursive;
}
  