#facebook{
    height: 50px;
  
    display:block;
    margin-left: 200px;
    margin-top: 90px;
}

#instagram{
    height: 50px;
  
    display:block;
    margin-left: 200px;
    margin-top: 90px;
}
#whats{
    height: 50px;
  
    display:block;
    margin-left: 200px;
    margin-top: 90px;
}
#gmail{
    height: 50px;
  
    display:block;
    margin: 90px 0px 0px 30px;
    
}
#reacciones{
    height: 100px;
    float: right;
  
}
