.footer{
   color: rgb(0, 0, 0);
    font-family: 'Handlee', cursive;
    text-align: center;
    margin: 0px auto;
}

#fecha{
    font-size: 14px;
    text-align:right;
    margin-right: 50px;
    font-family: 'Handlee', cursive;
  
    }