<div class="contenedores"> <!--Formulario 1 con interface-->
    <form class="formulario1" [formGroup]="formulario1" (ngSubmit)="guardar()">
      <h1>Animales</h1>  
      
        
        <div>
          <label for="nombre">
           Nombre:
          </label> 
          <input id="nombre" type="text" formControlName="nombre">
        </div>
      
        <div>
          <label for="especie">
            Especie:
          </label> 
          <input id="especie" type="text" formControlName="especie">
        </div>
  
       <br>

       <div>
        <label for="especie">
          Color:
        </label> 
        <input id="color" type="text" formControlName="color">
      </div>

     <br>
          
      
        
      </form>
  
      

      <p>listado works!</p>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <th>Nombre</th>
            </thead>
            <tbody *ngFor="let item of arreglo">
                <tr>
                    <td>{{item['nombre']}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
  
  </div>
  
